@import url("section1.css");
@import url("section2.css");
@import url("section3.css");


main{
  border: 1px solid;
  grid-area: main;
  background-color: #74484F;
  display: flex
}

footer{
  border: 1px solid;
  grid-area: footer;
  background-color: #81595F;
  display: flex
}
